<table>
  <tr>
    <td style="font-weight: bold">{{ "Wallee Transaction ID" | trans }}</td>
    <td style="font-weight: bold">{{ "Transaction Timestamp" | trans }}</td>
    <td style="font-weight: bold">{{ "Invoice State" | trans }}</td>
    <td></td>
  </tr>

  {% if invoices is not empty %}
    {% for row in invoices %}
      <tr>
        <td>{{ row.transaction_id }}</td>
        <td>{{ row.transaction_timestamp }}</td>
        <td>
          {% if row.invoice_state == 'WAITING_WALLEE' %}
            {{ "Invoice is being prepared" | trans }}<br>
            <a href="">{{ "Refresh State" | trans }}</a>
          {% else %}
            {{ row.invoice_state }}
          {% endif %}
        </td>
        <td style='display:none'><a
            href='/admin/structure/invoice/{{ row.invoice_id }}/edit?destination=/admin/commerce/orders/{{ order_id }}/wallee_invoices'>{{ "Edit"|trans }}</a><br>
          <a
            href='/admin/structure/invoice/{{ row.invoice_id }}/delete?destination=/admin/commerce/orders/{{ order_id }}/wallee_invoices'>{{ "Delete"|trans }}</a><br>
          {% if row.invoice_file_url is not empty %}
            <a target=_blank
               href='{{ row.invoice_file_url }}'>{{ "Download"|trans }}</a>
          {% endif %}
        </td>
      </tr>
      {% if row.invoice_file_url is not empty %}
        <tr>
          <td colspan="10">
            <br><br>
            <b>{{ "Invoice Preview" | trans }}</b><br>
            <iframe frameborder="0" width="100%" height="500px"
                    src='{{ row.invoice_file_url }}'></iframe>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  {% else %}
    <tr>
      <td colspan=10>{{ 'No Invoices found'|trans }}</td>
    </tr>
  {% endif %}

</table>

<div style="float:left;width:100%;">
  {% if is_order_editable == TRUE %}
    <div style="float:left;" id="'wallee_create_invoice_btn"><a
        class='button js-form-submit form-submit'
        href='/admin/wallee/create_transaction/{{ order_id }}'>{{ "Create/Update Invoice" | trans }}</a>
    </div>
  {% endif %}
  <!-- <div style="float:left;"><a class='button js-form-submit form-submit' href='/admin/commerce/orders/{{ order_id }}/update_invoice_state'>Update Invoices Status</a></div>
    <div style="float:left;"><a class='button js-form-submit form-submit' href='/admin/commerce/orders/{{ order_id }}/sync_invoices'>Sync Invoices Wallee -> Drupal</a></div>-->
</div>
